body{
    margin:0;
    background-image:url("123.jpg");
    background-size:100%;
    background-repeat:no-repeat;
}

#text1{
    text-align:center;
    font-size:40px;
    font-weight:bold;
    color:white;

}

#text2{
    text-align:bottom;
    color:white;
    padding-left:170px;
    font-weight:50px;
}
footer{
    position:absolute;
    bottom:0;
    text-align:center ;
    padding-left:250px;
    padding-bottom:300px;
    font-size:22px;
    color:white; 
    font-weight:bold;
}